.round-handler-container {
    padding: 20px;
    margin: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.round-handler-log {
    background-color:#ddd;
    border-radius: 25px;
    border: 2px solid #ddd;
    outline: 5px solid #eee;
    outline-offset: -5px;
    padding:2em;
}

.next-attack-button {
    width: 500px;
    height: 2em;
    font-size: 30px;
}

.next-attack-button-text {
    padding: 20px;
    float:left;
}

.round-handler-current-turn-description {
    margin-top: 1em;
}

.round-handler-show-log-button {
    margin-top: 10px;
    display:flex;
    justify-content:flex-end;
}