.round-handler-container {
    padding: 20px;
    margin: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.next-attack-button {
    width: 500px;
    height: 2em;
    font-size: 30px;
}

.next-attack-button-text {
    padding: 20px;
    float:left;
}