<div class="round-handler-container" *ngIf="this.displayEncounter">
    <div class="round-handler-log">
        <div class="round-handler-next-attack-button">
            <button mat-raised-button color="primary" (click)="roundHandler()" class="next-attack-button"><span
                    class="next-attack-button-text">Next Attack<i
                        class="material-icons">arrow_forward_ios</i></span></button>
        </div>
        <div class="round-handler-current-turn-description" *ngIf="activationReady">
            <div *ngIf="currentMonster">
            <div *ngIf="!currentMonster.player">
                <div class="round-handler-current-turn-description-header flex-row flex-space-around">
                    <h2>Combat Round {{currentRound}}</h2>
                    <h2>{{currentMonster.name}} {{currentMonster.generatedMonsterIdentifier}} activation</h2>
                </div>
                <div *ngIf="currentMonster.attacks.numberOfAttacks < 2">{{currentMonster.name}} attacks with a {{currentMonster.attacks.weaponName}}</div>
                <div *ngIf="currentMonster.attacks.numberOfAttacks >= 2">{{currentMonster.name}} attacks {{currentMonster.attacks.numberOfAttacks}} times with a {{currentMonster.attacks.weaponName}}</div>
                <div *ngFor="let attack of currentMonster.attackResult">
                    <div>Hit roll: {{attack.toHitResult}}</div>
                    <div *ngIf="attack.crit">CRIT!</div>
                    <div>Dealing {{attack.damageResult}} {{currentMonster.attacks.damageTypeName}} damage, on a hit</div>
                </div>
                <div *ngIf="currentMonster.attacks.extraEffect != 'none'">{{currentMonster.attacks.extraEffect}}</div>
            </div>

            <div *ngIf="currentMonster.player">
                <h2>Combat Round {{currentRound}}</h2>
                <h2>{{currentMonster.name}}'s activation</h2>
            </div>
            </div>
        </div>
        <div class="round-handler-show-log-button">
            <button mat-raised-button color="accent" (click)="showLogModal()">Show log</button>
        </div>
    </div>
</div>