<div class="title">
    <h1>Character Input</h1>
</div>

<div class="card-container">
<mat-card class="input-card">
    <form>
      <mat-form-field class="input">
        <mat-label>Name</mat-label>
        <input matInput #nameInput id="nameInput" type="text"
            value="{{name}}" (change)="nameUpdated(nameInput.value)">
      </mat-form-field>
  
      <mat-form-field class="input">
        <mat-label>Initiative</mat-label>
        <input matInput #initiativeInput type="number" min="0" max="30" maxlength="2"
            value="{{initiative}}" (change)="initiativeUpdated(initiativeInput.value)">
      </mat-form-field>
    </form>
    <button mat-raised-button class="character-input-button" (click)="saveInput()">Save</button>
</mat-card>

<mat-card *ngFor="let character of characters" class="input-card">
    <div class="header-row">
    <p>Character {{character.generatedId}}</p>
    <button mat-mini-fab color="primary" class="delete-character-button" (click)="deleteCharacter(character.generatedId)">
        <mat-icon>delete</mat-icon>
    </button>
    </div>
    <form>
    <mat-form-field class="input">
      <mat-label>Name</mat-label>
      <input matInput #nameInput value={{character.name}}  
        (change)="updateName(nameInput.value, character.generatedId)">
    </mat-form-field>
        <mat-form-field class="input">
      <mat-label>Initiative</mat-label>
      <input matInput #initiativeInput value={{character.initiative}} min="0" max="30" maxlength="2"
        (change)="updateInitiative(initiativeInput.value, character.generatedId)">
    </mat-form-field>
    </form>
</mat-card>
</div>