.input-card {
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    max-width: 500px;
    padding: 20px;
}

.input {
    width: 100%;
}

.character-input-button {
    margin: 0 auto;
    display: flex;
    max-width: 50px;
}

.delete-character-button {
    margin-left: auto;
    margin-bottom: 5px;
    display: flex;
}