<div class="card-container">
<mat-card class="input-card">
    <form>
      <mat-form-field class="input">
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field>
  
      <mat-form-field class="input">
        <mat-label>Initiative</mat-label>
        <input matInput>
      </mat-form-field>
    </form>
    <button mat-raised-button class="character-input-button">Save</button>
</mat-card>

<mat-card *ngFor="let character of characters" class="input-card">
    <div class="header-row">
    <p>Character {{character.generatedId}}</p>
    <button mat-mini-fab color="primary" class="delete-character-button">
        <mat-icon>delete</mat-icon>
    </button>
    </div>
    <form>
    <mat-form-field class="input">
      <mat-label>Name</mat-label>
      <input matInput value={{character.name}}>
    </mat-form-field>
        <mat-form-field class="input">
      <mat-label>Initiative</mat-label>
      <input matInput value={{character.initiative}}>
    </mat-form-field>
    </form>
</mat-card>
</div>