<section>
    <h3>Encounter Detail</h3>  

    <div>
        <select #biomeTypeSelector (change)="onSelected(biomeTypeSelector.value)">
            <option default>Select a biome</option>
            <option *ngFor="let biomeType of biomeTypes">
                {{biomeType}}
            </option>
        </select>
        <button (click)="encounterHandler()">Generate encounter</button>
    </div>

    <div *ngIf="monsters.length > 0">
        {{encounter.name}}
        <div *ngFor="let monster of monsters">
            <div>{{monster.name}}</div>
            <div>{{monster.ac}}</div>
            <div>{{monster.hp}}</div>
        </div>
    </div>
    
</section>