<div class="monster-details-modal-header">
  <div mat-dialog-actions>
    <h1>{{ monster.name }} {{ monster.generatedMonsterIdentifier }} Details</h1>
    <button class="monster-details-modal-button" mat-icon-button color="primary" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content class="monster-details-modal-body">
  <div>Initiative: {{ monster.initiative }} </div>
  <div>HP: {{ monster.currentHp }}/{{ monster.hp }}</div>
  <div>AC: {{ monster.ac }}</div>
  <div>Attack Bonus: {{ monster.attacks.hitRoll }}</div>
  <!-- monster possible attacks ngFor? -->
</div>