<section>
    <h3>Encounter Detail</h3>  

    <div>
        <select #biomeTypeSelector (change)="onSelected(biomeTypeSelector.value)">
            <option default>Select a biome</option>
            <option *ngFor="let biomeType of biomeTypes">
                {{biomeType}}
            </option>
        </select>
        <button (click)="encounterSetup()">Generate encounter</button>
    </div>

    <div>
        <app-initiative-timeline>
        </app-initiative-timeline>
    </div>


    <div *ngIf="this.displayEncounter">
        {{encounter.name}}
        <div *ngFor="let monster of monsters">
            <div>Name: {{monster.name}}</div>
            <div>AC: {{monster.ac}}</div>
            <div>HP: {{monster.hp}}</div>
            <div>Initiative: {{monster.initiative}}</div>
        </div>
    </div>


    <app-monster-attacks
    [monsters]="monsters"
    [displayEncounter]="displayEncounter">
    </app-monster-attacks>
    
</section>