.title {
    text-align: center;
}

.encounter-setup-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.mat-mdc-button.mat-mdc-button-base, .mat-mdc-raised-button.mat-mdc-button-base, .mat-mdc-unelevated-button.mat-mdc-button-base, .mat-mdc-outlined-button.mat-mdc-button-base {
    height: 48px;
    margin-bottom: 16px;
    margin-left: 5px;
}