<div class="encounter-setup-container">
    <div class="encounter-setup-centered">
        Choose your encounter:
        <mat-form-field appearance="fill">
            <mat-label>Select a biome</mat-label>
            <mat-select #biomeTypeSelector (selectionChange)="onSelected(biomeTypeSelector.value)">
                <mat-option *ngFor="let biomeType of biomeTypes" [value]="biomeType">
                    {{biomeType}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="encounterSetup()">Generate encounter</button>
    </div>
</div>