div.combat-log-header h1 {
    margin: 1em 0px 0px 1em;
}

.combat-log-body {
    padding-top: 0px;
}

.combat-log-content {
    padding: 2em;
    overflow-y: scroll;
    max-height:400px;
    min-width: 400px;
}

.combat-log-content-item {
    background-color: #eee;
    padding:1em;
    margin-top: 1em;
}