.initiative-container {
    border: 2px solid rebeccapurple;
    padding: 20px;
    margin: 20px;
}

.flex-container {
    display: flex;
    padding: 20px;
}

.card-container {
    flex: 1;
    height: 250px;
    max-width: 400px;
    margin: 20px;
}

.flex-child {
    padding: 20px;
    margin: 0 auto;
}  

.monster-image {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    margin: 10px;
    display: inline-block;
    border: 1px solid red;
    vertical-align: middle;
}

.monster-info-snapshot-container {
    display: inline-block;
    border: 1px solid red;
    vertical-align: middle;
}

.monster-details-button-container {
    margin-top: 25px;
    position: absolute;
    top: 80%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}