.initiative-container {
    border: 2px solid rebeccapurple;
    padding: 20px;
    margin: 20px;
}

.flex-container {
    display: flex;
    padding: 20px;
}

.flex-child {
    flex: 1;
    border: 2px solid red;
    padding: 20px;
    margin: 20px;
    height: 500px;
    background-repeat: no-repeat;
}  

.monster-info-snapshot-container {
    flex: 1;
    border: 2px solid green;
    width: 30%;
}

.monster-details-button-container {
    margin-top: 25px;
    margin-left: 25%;
}