.initiative-container {
    background-color:#eee;
    padding: 20px;
    margin: 20px;
    margin-bottom:40px;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.card-info-and-picture-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    min-width: 300px;
}

.card-info, .card-image {
    flex-grow: 1;
    margin:20px;
}

.card-info {
    display:flex;
    justify-content: center;
    align-items: center;
}

.card-image {
    background-repeat: no-repeat;
    background-size: cover;
    min-height:200px;
    padding-left: 100px;
    display: inline-block;
    vertical-align: middle;
}

.mat-mdc-card {
    margin-bottom: 15px;
}

.details-button {
    width: 100%;
    margin-top:10px;
}