<section>
    <div>
        <app-encounter-setup
        (reset)="reset()"
        (monsterCreatedOrChanged)="monsterCreatedOrChanged($event)"
        (encounterReady)="encounterReady($event)"
        (encounterNameSet)="encounterNameSet($event)">
        </app-encounter-setup>
    </div>

    <div>
        <app-initiative-timeline
        [encounterName]="encounterName"
        [monsters]="monsters">
        </app-initiative-timeline>
    </div>

    <app-monster-details>
    </app-monster-details>

    <app-round-handler
    (monsterCreatedOrChanged)="monsterCreatedOrChanged($event)"
    [monsters]="monsters"
    [displayEncounter]="displayEncounter"
    >
    </app-round-handler>
    
</section>