<section>
    <div>
        <app-encounter-setup
        (reset)="reset()"
        (displayEncounterChanged)="displayEncounterChanged($event)"
        (encounterNameSet)="encounterNameSet($event)">
        </app-encounter-setup>
    </div>

    <div class="encounter-container" *ngIf="displayEncounter">
        <app-initiative-timeline
        [encounterName]="encounterName"
        [displayEncounter]="displayEncounter"
        (displayEncounterChanged)="displayEncounterChanged($event)">
        </app-initiative-timeline>

        <app-round-handler
        [displayEncounter]="displayEncounter">
        </app-round-handler>
    </div>
    
    
</section>