<section>
    <div>
        <app-encounter-setup
        (reset)="reset()"
        (encounterReady)="encounterReady($event)"
        (encounterNameSet)="encounterNameSet($event)">
        </app-encounter-setup>
    </div>

    <div>
        <app-initiative-timeline
        [encounterName]="encounterName"
        [displayEncounter]="displayEncounter">
        </app-initiative-timeline>
    </div>
    
    <app-round-handler
    [displayEncounter]="displayEncounter">
    </app-round-handler>
    
</section>